/*Docs*/

.body {
    position: relative;
}

.sub-title {
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
    padding-bottom: 0;
}

.sub-title a {
    font-size: 16px;
}

.section.docs-heading {
    padding: 60px 0;
}

.affix {
    position: static;
}

@media (min-width: 992px) {
    .affix,
    .affix-bottom {
        width: 213px
    }
    .affix {
        position: fixed;
        top: 20px
    }
    .affix-bottom {
        position: absolute
    }
    .affix .bs-docs-sidenav,
    .affix-bottom .bs-docs-sidenav {
        margin-top: 0;
        margin-bottom: 0
    }
}

@media (min-width: 1200px) {
    .affix,
    .affix-bottom {
        width: 263px
    }
}

/* SIDEBAR */

@media (min-width: 768px) {
    .docs-sidebar {
        padding-top: 20px;
        padding-left: 20px
    }
}

/* all links */
.docs-sidebar .nav>li>a {
    color: #111;
    border-left: 2px solid transparent;
    padding: 0 20px;
    font-size: 15px;
    font-weight: 400;
}

/* nested links */
.docs-sidebar .nav .nav>li>a {
    padding-left: 40px;
    font-size: 14px;
}

/* hover links */ 
.docs-sidebar .nav>li:not(.active)>a:hover {
    color: #0E97EE;
    text-decoration: none;
    background-color: transparent;
    border-left-width: 1px;
    border-left-color: #0E97EE;
}
/* focus links */
.docs-sidebar .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
}
/* active links */
.docs-sidebar .nav>.active>a {
    color: #0E97EE;
    text-decoration: none;
    background-color: transparent;
    border-left-color: #0E97EE;
}
/* all active links */
.docs-sidebar .nav>.active>a, 
.docs-sidebar .nav>.active:hover>a,
.docs-sidebar .nav>.active:focus>a {
    font-weight: 700;
}
/* nested active links */
.docs-sidebar .nav .nav>.active>a, 
.docs-sidebar .nav .nav>.active:hover>a,
.docs-sidebar .nav .nav>.active:focus>a {
    font-weight: 500;
}

@media (min-width: 992px) {
    .docs-sidebar .nav ul {
        padding-bottom: 10px;
    }
    .docs-sidebar .nav>.active>ul {
        display: block
    }
}
/*Syntax Highlighter : Sublime Theme */

.syntaxhighlighter {
    background-color: #2b303b !important;
    padding: 15px 0;
}

.syntaxhighlighter a,
.syntaxhighlighter div,
.syntaxhighlighter code,
.syntaxhighlighter table,
.syntaxhighlighter table td,
.syntaxhighlighter table tr,
.syntaxhighlighter table tbody,
.syntaxhighlighter table thead,
.syntaxhighlighter table caption,
.syntaxhighlighter textarea {
    line-height: 1.3em !important;
}

.syntaxhighlighter .line.alt1 {
    background-color: #2b303b !important;
}

.syntaxhighlighter .line.alt2 {
    background-color: #2b303b !important;
}

.syntaxhighlighter .string,
.syntaxhighlighter .string a {
    color: #90be8c !important;
}

.syntaxhighlighter .color1,
.syntaxhighlighter .color1 a {
    color: #d08770 !important;
}

.syntaxhighlighter .plain,
.syntaxhighlighter .plain a {
    color: #c0c5ce !important;
}

.syntaxhighlighter .keyword {
    color: #bf616a !important;
}

.syntaxhighlighter .gutter {
    color: #757a84 !important;
}

.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {
    background-color: #333E49 !important;
}

.syntaxhighlighter .gutter .line.highlighted {
    background-color: #343d46 !important;
    color: #757a84 !important;
}

.syntaxhighlighter .value {
    color: #96b5b4 !important;
}
/*css*/
/* .syntaxhighlighter .css.plain,
.syntaxhighlighter .css.plain a {
    color: #d08770 !important;
} 

.syntaxhighlighter .css.keyword {
    color: #c0c5ce !important;
}*/

.syntaxhighlighter .color3,
.syntaxhighlighter .color3 a {
    color: #b48ead !important;
}
/*js*/

.syntaxhighlighter .js.keyword {
    color: #b48ead !important;
}


/*     Badge    */
.badge {
  border-radius: 50px;
  margin-left: auto;
  line-height: 1;
  padding: 6px 10px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 11px;
  border: 1px solid #ddd; }

[class*="badge-"]:not(.badge-count) {
  border: 0px !important; }

.badge-default {
  background: #1a2035;
  color: #ffffff !important; }

.badge-primary {
  background: #1572E8; }

.badge-secondary {
  background: #6861CE; }

.badge-info {
  background: #48ABF7; }

.badge-success {
  background-color: #31CE36; }

.badge-warning {
  background: #FFAD46;
  color: #ffffff !important; }

.badge-danger {
  background-color: #F25961; }


table thead {
  border: 1px solid #e9e9e9 !important; 
}

table thead tr th{
    text-align: center;
}

table thead th,table thead td{
  background: #f9f9f9 !important;
  color: #575962 !important;
  border-bottom: 1px solid #e9e9e9  !important; }

table tbody td{
  border-bottom: 1px solid #e9e9e9  !important; 
}